@import "tailwindcss";

/* Scrollbar width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0f172a; /* dark background */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #182e50; /* blue */
  border-radius: 10px;
}

/* Hover */
::-webkit-scrollbar-thumb:hover {
  background: #202e40;
}